@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* font-family: 'Oxygen', sans-serif; */
/* 300 400 700 */
.recipe-container {
    font-family: 'Oxygen', sans-serif;
    padding: 5rem 0 0 0;
}

.recipe-container span {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    margin-left: 7px;
}

.recipe-container h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
}

.recipe-container-border {
    margin: 3rem 0 0 0;
    width: 7rem;
    border: 4px solid #E74E00;
}

.recipe-details h4 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 2rem;
}

.recipe-details span {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
}

.recipe-description-container {
    margin: 3rem 0;
}

.recipe-description-container p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

.recipe-tabs-container {
    margin-top: 4rem;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #E74E00 !important;
}
.mat-tab-contain {
    margin-top: 1rem;
    font-family: 'Oxygen', sans-serif;
}

.recipe-container-img{
    background-color: #707070;
    width: 35rem;
    height: 40rem;
    margin: 5rem 0 0 3rem;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}
.recipe-container-img span{
    color: #FFFFFF;
    
}