<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="container-menu img img-1">
                <div class="container-menu-text">
                    <div class="row">
                        <div class="col"><span>Mi Despensa</span></div>
                        <div class="col-auto" style="padding-right: 5rem;"><span>a</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container-menu img img-2">
                <div class="container-menu-text">
                    <div class="row">
                        <div class="col"><span>Recetas</span></div>
                        <div class="col-auto" style="padding-right: 5rem;"><span>a</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container-menu img img-3">
                <div class="container-menu-text">
                    <div class="row">
                        <div class="col"><span>Restaurantes</span></div>
                        <div class="col-auto" style="padding-right: 5rem;"><span>a</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>