/* Agrega tus estilos personalizados aquí */

.mat-card {
    margin: 2rem 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
  }
  
  .recipe-input {
    width: 100%;
  }
  
  .mr-0 {
    margin-right: 0;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .d-block {
    display: block;
  }
  
  .recipe-details-input {
    width: 100%;
  }
  
  .form-title {
    border-left: 5px #E74E00 solid;
    padding: 0.25rem;
    margin-left: 0.5rem;
    margin-bottom: 1.25rem;
  }
  
  .form-title h3 {
    font-family: 'Oxygen', sans-serif;
    color: #121212;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .btn-finished {
    margin-top: 0.25rem;
    background-color: #E74E00;
    color: #FFF;
  }

  /* Estilos para el mat-checkbox */
.checkbox-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    background-color: #f2f2f2; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    width: 300px; /* Ancho del cuadro del checkbox */
    height: relative; /* Altura del cuadro del checkbox */
    border-width: 2px; /* Ancho del borde del cuadro del checkbox */
  }
.container {
  width:300px
}

  /* Estilo del checkbox personalizado cuando está marcado */
.mat-checkbox-checked .mat-checkbox-background {
  background-color: #E74E00; /* Color de fondo cuando está encendido */
  border-color: #E74E00; /* Color del borde cuando está encendido */
}

/* Estilo del icono de marca de verificación */
.mat-checkbox-checked .mat-checkbox-inner-container::after {
  content: "\2714"; /* Símbolo de marca de verificación Unicode */
  font-size: 20px; /* Tamaño del icono */
  color: #fff; /* Color del icono cuando está marcado */
}

/* Estilo del label del checkbox */
.mat-checkbox-label {
  font-size: 16px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  margin-left: 8px; /* Espaciado entre el icono y el texto */
}

  